<!-- <p>home works!</p> -->
<div class="home">
    <app-loader *ngIf="isLoading"></app-loader>
    <img *ngIf="!isLoading" src="https://www.artic.edu/iiif/2/{{
      this.arts[3].image_id
    }}/full/843,/0/default.jpg" alt="" class="home-img" width="100%" style="min-width: 340px ;"/>

    <div class="details">
        <h4 class="py-2">ARTWORK COLLECTION</h4>
        <div>
            <h2 class="p-0 m-0">{{ this.arts[3].title }}</h2>
            <div class="p-0 m-0">
                by
                <b>{{ this.arts[3].artist_title }}</b>
            </div>
        </div>
    </div>
</div>
<div class="about-more my-5 d-flex flex-column align-items-center justify-content-center">

    <p class="about-more-us text-center fs-1 my-5">About Us</p>
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center ">
        <div class="mx-5"><img
                src="https://lh3.googleusercontent.com/kdT9T9zfV-oiIBVPwhi7ouydC-JerjO90vzphBaAfP3s68WEgLkOTrsWd15AbW0"
                alt="" width="250px" height="250px">
        </div>
        <div class=" fs-4 lh-base" style="width: 65%;">
            <p class="about-data m-0 p-0">
                The Art Institute of Chicago was founded as both a museum and school for the fine arts in 1879, a
                critical era
                in the history of Chicago as civic energies were devoted to rebuilding the metropolis that had been
                destroyed by
                the Great Fire of 1871.
                <br><br>
                The Art Institute of Chicago shares its singular collections with our city
                and the world. We collect, care for, and interpret works of art across time,
                cultures, geographies, and identities, centering the vision of artists and
                makers. We recognize that all art is made in a particular context, demanding
                continual, dynamic reconsideration in the present. We are a place of
                gathering; we foster the exchange of ideas and inspire an expansive,
                inclusive understanding of human creativity.
            </p>
        </div>
    </div>
</div>
<div class="fs-2 mb-5 me-5" style="min-height: 5rem; display: flex;  justify-content: end;">
    <a routerLink="/art-collection" style="letter-spacing: 0.20vh; color: #b50938;">See Whole Collection >>></a>
</div>