/* You can add global styles to this file, and also import other style .files */
.home {
  height: 51rem;
  /* position: relative; */
  /* z-index: 1; */
}
.about-more {
  position: relative;
  font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
}
.about-more-us {
  color: #b50938;
}
.about-more-us:hover {
  text-decoration: underline;
}
.about-more-us:active {
  text-decoration: underline;
  color: #b50938;
}
.about-data {
  /* max-height: 50rem; */
  text-align: justify;
  text-justify:initial;
  margin: 0;
  padding: 0;
}

.title {
  font-family: Sabon, Roboto, Times New Roman, Times, Georgia, serif;
}
.home-img {
  height: 50.1rem;
}
div.details {
  position: absolute;
  margin-top: 36rem;
  margin-left: 8%;
  padding: 10px 0px 20px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 0px none;
  width: 50vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  justify-content: center;
}

.logo {
  width: 7rem;
}

.navigation {
  z-index: 10;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.671),
    rgba(0, 0, 0, 0.288),
    rgba(0, 0, 0, 0)
  );
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.about {
  color: antiquewhite;
  text-decoration: none;
  font-size: small;
  /* letter-spacing: .45vw; */
}
.documentation {
  color: antiquewhite;
  text-decoration: none;
  font-size: small;
  /* letter-spacing: .45vw; */
}
.route-link {
  color: #b50938;
  /* text-shadow: 5px; */
}

.route {
  color: black;
  text-shadow: #b50938 5px;
  text-decoration: none;
}

#routing:link {
  text-decoration: none;
  font-size: large;
  letter-spacing: 0.25vw;
  color: #b50938;
  /* margin-right: 4vw; */
}
#routing:hover {
  color: #b50938;
  text-decoration: underline;
}

.check {
  position: absolute;
  margin-top: 8rem;
  font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
  /* width: 100%; */
  margin-bottom: 8rem;
}
.docs{
  position: absolute;
  top: 8rem;
  left: 3rem;
  width: 85%;
  font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
  margin-bottom: 8rem;
}
.check hr{
    width: 95%;
}
.art-card {
  width: 30%;
  min-width: 21rem;
}
.art {
  height: 38rem;
  /* width: 2rem; */
}

.desc {
  width: 22rem;
}
.paginator-container .mat-paginator-sticky {
  bottom: 0px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: center;
  /* height: 56px; */
  padding: 0px;
  flex-wrap: wrap-reverse;
}

.flowe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}

.display-container {
  position: absolute;
  padding-top: 15vh;
  font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
  width: 100%;
  height: auto;
  background-color: blanchedalmond;
}
.display-container img {
  width: 35vw;
  min-width: 20rem;
  height: 70vh;
  overflow: hidden;
}
.content {
  text-align: justify;
  width: 40vw;
  min-width: 22rem;
}
.content hr {
  border: 0;
  clear: both;
  display: block;
  width: 94%;
  background-color: black;
  height: 1px;
}
.form {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}
.form-control {
  width: 15rem;
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Ideal Sans A", "Ideal Sans B", "Helvetica Neue",
    sans-serif;
}
